@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --green: #17fa6e;
    --green-dark: #117008;
    --blue: #7398dd;
    --dark-blue: #2C3D5C;
    --white: #EDEFF2;

    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--dark-blue);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 44px;
}

h2{
    font-size: 24px;
} 

p {
    color: var(--white);
}

button {
    background: var(--blue);
    border-radius: 16px;
    border: 0;
    padding:  8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.title-green {
    color: var(--green);
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container button {
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menu-height);
    padding: 0 100px;
    position: sticky;
    top: 0;
    background: var(--dark-blue);

    z-index: 99;

}

nav img {
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

nav ul a {
    font-size: 24px;
    color: var(--green);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 50%;
    height: 100%;
    border: 3px solid white;
    border-radius: 50%;
    object-fit: cover;
}

.services {
    text-align: center;
    margin: 50px 0;
    padding: 0 100px;
}

.services-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 60px auto 0;
}

.services .services-container .service-card {
    max-width: 360px;
    background: rgba(20, 64, 85, 0);
    border: 1px solid var(--blue);
    border-radius: 16px;
    padding: 40px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}

.services .services-container .service-card img {
    margin-bottom: 40px;
    width: 50px;
}

.service-card + .service-card {
    margin-left: 10px;
}



@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }
    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me .container, .about-me .img-container {
        width: 100%;
    }

    .about-me.container {
        padding-right: 0;
    }

    .about-me .img-container {
        margin: 50px 0;
    }

    .services {
        padding: 0;
    }

    .services .services-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        height: 394px;
    }

    .service-card + .service-card {
        margin-left: 0;
        margin-top: 30px;
    }
    
}

@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin-bottom: 70px;
    }

    nav {
        padding: 0 30px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }
    
    nav {
        position: fixed;
        bottom: 0;
        top: unset;
        width: 100%;
        padding: 0 15px;
    }

    nav ul a  {
        font-size: 12px;
    }
    
    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }

    .about-me {
        padding: 40px;
    }

    .services {
        margin: 70px 0;
    }

    .services .services-container {
        padding: 0 20px;
    }

}

