@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
    --green: #17fa6e;
    --green-dark: #117008;
    --blue: #7398dd;
    --dark-blue: #2C3D5C;
    --white: #EDEFF2;

    --menu-height: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--dark-blue);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

h1 {
    font-size: 44px;
}

h2{
    font-size: 24px;
} 

p {
    color: var(--white);
}

button {
    background: var(--blue);
    border-radius: 16px;
    border: 0;
    padding:  8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--menu-height);
    padding: 0 100px;
    position: sticky;
    top: 0;
    background: var(--dark-blue);

}

nav img {
    height: 45px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

nav ul a {
    font-size: 24px;
    color: var(--green);
    text-decoration: none;
}

nav ul a svg {
    display: none;
}

section {
    height: 1500px;
   
}
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }
    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }
}

@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin-bottom: 70px;
    }

    nav {
        padding: 0 30px;
    }

    nav img {
        display: none;
    }

    nav ul {
        padding: 0;
    }

    nav ul a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }
    
    nav {
        padding: 0 15px;
    }

    nav ul a  {
        font-size: 12px;
    }
    
    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }


}

